rect.psv{
	fill:lightgrey;
}

rect.act{
	fill:#607D8B;
}

text {
	fill:gray;	
	font-size: 11px;
}

svg {
	display: block;
	margin: auto;
}

body{
	margin: 20px 0;
	font-family: verdana;
}

h1{
	 text-align: center;
	 font-size: 15px;
	 text-decoration:none;
}