rect.psv{
	fill:lightgrey;
}

rect.act{
	fill:#607D8B;
}

text {
	fill:gray;	
	font-size: 11px;
}

svg {
	display: block;
	margin: auto;
}

body{
	margin: 20px 0;
	font-family: verdana;
}

div{
	 text-align: center;
	 font-size: 12px;
	 position: absolute;
	 padding: 10px;
	 right: 0;
	 bottom: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #607D8B;
}